<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <!-- 헤더파일 포함시키기 -->
    {% include "header.html" %}
    <!-- 사진폴더가 있는 폴더 불러오기 -->
    {% load static %}

    <div class="container">
      <form>
    <table class="table">
        <tr>
          <td>작성자</td>
          <td> <input type="text" class="form-control"></td>
        </tr>
        <tr>
          <td>휴대전화</td>
          <td> <input type="text" class="form-control"></td>
        </tr>
        <tr>
          <td>이메일</td>
          <td> <input type="email" class="form-control"></td>
        </tr>
        <tr>
          <td>제목</td>
          <td> <input type="text" class="form-control" placeholder="제목을 입력해주세요"></td>
        </tr>
        <tr>
            <td>내용</td>
            <td> <textarea rows=10 class="form-control" style="resize:none;" placeholder="내용을 입력해주세요"></textarea></td>
        </tr>
        <tr>
            <td>첨부파일</td>
            <td> <input type="file" class="form-control"></td>
        </tr>

    </table>
        <div align="right">
            <input type="submit" value="등록하기" class="btn-link">
            <input type="reset" value="다시쓰기" class="btn-link">

        </div>
    </form>
     <a href="Q_A"> <button class="btn btn-link">목록보기</button></a>
  </div>
    <div style="margin-top:150px">
    {% include "footer.html" %}
    </div>
</body>
</html>