<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <style>
    @font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
    *{ font-family: 'NEXON Lv1 Gothic OTF'; }
    </style>
</head>
<body>

    <div align="center">
        <img src="logo2.jpg" width="200px;">
    </div>

    <div class="container">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">로그인</a></li>
            <li><a href="#">회원가입</a></li>
        </ul>

    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">toggle</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="중랑구.html">중랑구</a></li>
                <li><a href="#양천구">양천구</a></li>
                <li><a href="#강남구">강남구</a></li>
                <li><a href="#동작구">동작구</a></li>
                <li><a href="#은평구">은평구</a></li>
                <li><a href="#강북구">강북구</a></li>
                <li><a href="#동대문구">동대문구</a></li>
                <li><a href="#영등포구">영등포구</a></li>
                <li><a href="#광진구">광진구</a></li>
                <li><a href="#도봉구">도봉구</a></li>
            </ul>
      </div>
  </nav>

        <div class="col-sm-4">
        <input type="text" class="form-control" placeholder="검색어를 입력해주세요">
        </div><br><br>

        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="중랑구.html">중랑구</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#양천구">양천구</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#강남구">강남구</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#동작구">동작구</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#은평구">은평구</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#강북구">강북구</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#동대문구">동대문구</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#영등포구">영등포구</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#광진구">광진구</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#도봉구">도봉구</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane fade" id="중랑구">
                <div> 서울특별시 중랑구 쓰레기통 위치 </div><br><br>
            </div>
            <div class="tab-pane fade" id="양천구">
                <div> 서울특별시 양천구 쓰레기통 위치 </div>
            </div>
            <div class="tab-pane fade" id="강남구">
                <div> 서울특별시 강남구 쓰레기통 위치 </div>
            </div>
            <div class="tab-pane fade" id="동작구">
                <div> 서울특별시 구 쓰레기통 위치 </div>
            </div>
            <div class="tab-pane fade" id="은평구">
                <div> 서울특별시 은평구 쓰레기통 위치 </div>
            </div>
            <div class="tab-pane fade" id="강북구">
                <div> 서울특별시 강북구 쓰레기통 위치 </div>
            </div>
            <div class="tab-pane fade" id="동대문구">
                <div> 서울특별시 동대문구 쓰레기통 위치 </div>
            </div>
            <div class="tab-pane fade" id="영등포구">
                <div> 서울특별시 영등포구 쓰레기통 위치 </div>
            </div>
            <div class="tab-pane fade" id="광진구">
                <div> 서울특별시 광진구 쓰레기통 위치 </div>
            </div>
            <div class="tab-pane fade" id="도봉구">
                <div> 서울특별시 도봉구 쓰레기통 위치 </div>
            </div>
        </div>
    </div>





</body>
</html>