<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Garbage Zone</title>
</head>
<body>

    <!-- 헤더파일 포함시키기 -->
    {% include "header.html" %}
    <!-- 사진폴더가 있는 폴더 불러오기 -->
    {% load static %}

    <div class="container">

    <div align="right">
      <a href="boardwrite"><button class="btn btn-link">글쓰기</button></a>
    </div>

    <table class="table table-hover">
      <thead>
          <tr>
            <th>번호</th> <th>제목</th> <th> 아이디</th> <th> 날짜</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>4</td> <td><a href="view1">궁금한 점 있어요</a></td> <td>sdjgt</td> <td>2021-02-23</td>
          </tr>
          <tr>
              <td>3</td> <td><a href="view2">문의!</a></td> <td>waote</td> <td>2021-04-25</td>
          </tr>
          <tr>
              <td>2</td> <td><a href="view3">이용 방법</a></td> <td>wqot</td> <td>2021-03-27</td>
          </tr>
          <tr>
              <td>1</td> <td><a href="view4">우왕</a></td> <td>orzl</td> <td>2021-09-01</td>
          </tr>
      </tbody>
    </table>

    <table style="margin : 0 auto">
        <tr>
            <td>
              <select class="form-control">
                <option> 제목 </option>
                <option> 아이디 </option>
                <option> 날짜 </option>
            </select>
            </td>
            <td>
                <input type="text" class="form-control" placeholder="검색어를 입력하세요.">
            </td>
            <td>
                <input type="submit" value="검색" class="btn btn-link">
            </td>
        </tr>
    </table>
  </div>
    <div style="margin-top:150px">
    {% include "footer.html" %}
    </div>
</body>
</html>