<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Garbage Zone</title>
</head>
<body>

    <!-- 헤더파일 포함시키기 -->
    {% include "header.html" %}
    <!-- 사진폴더가 있는 폴더 불러오기 -->
    {% load static %}

    <div class="container">
    <table class="table">
        <tr>
          <td>작성자</td>
          <td> 정재현 </td>
        </tr>
        <tr>
          <td>휴대전화</td>
          <td> 010-xxxx-xxxx</td>
        </tr>
        <tr>
          <td>이메일</td>
          <td> peach@naver.com</td>
        </tr>
        <tr>
          <td>제목</td>
          <td> 우왕</td>
        </tr>
        <tr>
            <td>내용</td>
            <td> 신기</td>
        </tr>
        <tr>
            <td>첨부파일</td>
            <td> 없음</td>
        </tr>

    </table>
    </div>
    <div style="margin-top:150px">
    {% include "footer.html" %}
    </div>
</body>
</html>