<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Garbage Zone</title>
</head>
<body>

<!-- 모든 이미지 폴더 불러오기 -->
    {% load static %}
    <!-- 분리된 html 파일 불러오기 -->
    {% include "header.html" %}

    <h4>서울특별시 강서구 강서로 쓰레기통 위치 안내</h4><br>

<!-- 이미지 지도를 표시할 div 입니다 -->
        <div id="staticMap" style="width:99%;height:200px;"></div>
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=da7431dddeb93bdee5392bab6c83e353"></script>
        <script>
// 이미지 지도에 표시할 마커입니다
// 이미지 지도에 표시할 마커를 아래와 같이 배열로 넣어주면 여러개의 마커를 표시할 수 있습니다
        var markers = [
            {
                position: new kakao.maps.LatLng(37.532225, 126.846252),
                text: '클릭하면 지도로 이동!' // text 옵션을 설정하면 마커 위에 텍스트를 함께 표시할 수 있습니다
            }
        ];

        var staticMapContainer  = document.getElementById('staticMap'), // 이미지 지도를 표시할 div
            staticMapOption = {
                center: new kakao.maps.LatLng(37.532225, 126.846252), // 이미지 지도의 중심좌표
                level: 3, // 이미지 지도의 확대 레벨
                marker: markers // 이미지 지도에 표시할 마커
            };

// 이미지 지도를 생성합니다
        var staticMap = new kakao.maps.StaticMap(staticMapContainer, staticMapOption);
        </script><br>

<!-- 이미지 지도를 표시할 div 입니다 -->
        <div id="staticMap1" style="width:99%;height:200px;"></div>
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=da7431dddeb93bdee5392bab6c83e353"></script>
        <script>
// 이미지 지도에 표시할 마커입니다
// 이미지 지도에 표시할 마커를 아래와 같이 배열로 넣어주면 여러개의 마커를 표시할 수 있습니다
        var markers = [
            {
                position: new kakao.maps.LatLng(37.540681, 126.841062),
                text: '여기야 여기!' // text 옵션을 설정하면 마커 위에 텍스트를 함께 표시할 수 있습니다
            }
        ];

        var staticMapContainer  = document.getElementById('staticMap1'), // 이미지 지도를 표시할 div
            staticMapOption = {
                center: new kakao.maps.LatLng(37.540681, 126.841062), // 이미지 지도의 중심좌표
                level: 3, // 이미지 지도의 확대 레벨
                marker: markers // 이미지 지도에 표시할 마커
            };

// 이미지 지도를 생성합니다
        var staticMap = new kakao.maps.StaticMap(staticMapContainer, staticMapOption);
        </script><br>

<!-- 이미지 지도를 표시할 div 입니다 -->
        <div id="staticMap2" style="width:99%;height:200px;"></div>
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=da7431dddeb93bdee5392bab6c83e353"></script>
        <script>
// 이미지 지도에 표시할 마커입니다
// 이미지 지도에 표시할 마커를 아래와 같이 배열로 넣어주면 여러개의 마커를 표시할 수 있습니다
        var markers = [
            {
                position: new kakao.maps.LatLng(37.547992, 126.833248),
                text: '여기야 여기!' // text 옵션을 설정하면 마커 위에 텍스트를 함께 표시할 수 있습니다
            }
        ];

        var staticMapContainer  = document.getElementById('staticMap2'), // 이미지 지도를 표시할 div
            staticMapOption = {
                center: new kakao.maps.LatLng(37.547992, 126.833248), // 이미지 지도의 중심좌표
                level: 3, // 이미지 지도의 확대 레벨
                marker: markers // 이미지 지도에 표시할 마커
            };

// 이미지 지도를 생성합니다
        var staticMap = new kakao.maps.StaticMap(staticMapContainer, staticMapOption);
        </script><br>

<!-- 이미지 지도를 표시할 div 입니다 -->
        <div id="staticMap3" style="width:99%;height:200px;"></div>
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=da7431dddeb93bdee5392bab6c83e353"></script>
        <script>
// 이미지 지도에 표시할 마커입니다
// 이미지 지도에 표시할 마커를 아래와 같이 배열로 넣어주면 여러개의 마커를 표시할 수 있습니다
        var markers = [
            {
                position: new kakao.maps.LatLng(37.549306, 126.836482),
                text: '여기야 여기!' // text 옵션을 설정하면 마커 위에 텍스트를 함께 표시할 수 있습니다
            }
        ];

        var staticMapContainer  = document.getElementById('staticMap3'), // 이미지 지도를 표시할 div
            staticMapOption = {
                center: new kakao.maps.LatLng(37.549306, 126.836482), // 이미지 지도의 중심좌표
                level: 3, // 이미지 지도의 확대 레벨
                marker: markers // 이미지 지도에 표시할 마커
            };

// 이미지 지도를 생성합니다
        var staticMap = new kakao.maps.StaticMap(staticMapContainer, staticMapOption);
        </script><br>

<!-- 이미지 지도를 표시할 div 입니다 -->
        <div id="staticMap4" style="width:99%;height:200px;"></div>
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=da7431dddeb93bdee5392bab6c83e353"></script>
        <script>
// 이미지 지도에 표시할 마커입니다
// 이미지 지도에 표시할 마커를 아래와 같이 배열로 넣어주면 여러개의 마커를 표시할 수 있습니다
        var markers = [
            {
                position: new kakao.maps.LatLng(37.553264, 126.836454),
                text: '여기야 여기!' // text 옵션을 설정하면 마커 위에 텍스트를 함께 표시할 수 있습니다
            }
        ];

        var staticMapContainer  = document.getElementById('staticMap4'), // 이미지 지도를 표시할 div
            staticMapOption = {
                center: new kakao.maps.LatLng(37.553264, 126.836454), // 이미지 지도의 중심좌표
                level: 3, // 이미지 지도의 확대 레벨
                marker: markers // 이미지 지도에 표시할 마커
            };

// 이미지 지도를 생성합니다
        var staticMap = new kakao.maps.StaticMap(staticMapContainer, staticMapOption);
        </script><br>

<!-- 이미지 지도를 표시할 div 입니다 -->
        <div id="staticMap5" style="width:99%;height:200px;"></div>
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=da7431dddeb93bdee5392bab6c83e353"></script>
        <script>
// 이미지 지도에 표시할 마커입니다
// 이미지 지도에 표시할 마커를 아래와 같이 배열로 넣어주면 여러개의 마커를 표시할 수 있습니다
        var markers = [
            {
                position: new kakao.maps.LatLng(37.556759, 126.837594),
                text: '여기야 여기!' // text 옵션을 설정하면 마커 위에 텍스트를 함께 표시할 수 있습니다
            }
        ];

        var staticMapContainer  = document.getElementById('staticMap5'), // 이미지 지도를 표시할 div
            staticMapOption = {
                center: new kakao.maps.LatLng(37.556759, 126.837594), // 이미지 지도의 중심좌표
                level: 3, // 이미지 지도의 확대 레벨
                marker: markers // 이미지 지도에 표시할 마커
            };

// 이미지 지도를 생성합니다
        var staticMap = new kakao.maps.StaticMap(staticMapContainer, staticMapOption);
        </script><br>

<!-- 이미지 지도를 표시할 div 입니다 -->
        <div id="staticMap6" style="width:99%;height:200px;"></div>
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=da7431dddeb93bdee5392bab6c83e353"></script>
        <script>
// 이미지 지도에 표시할 마커입니다
// 이미지 지도에 표시할 마커를 아래와 같이 배열로 넣어주면 여러개의 마커를 표시할 수 있습니다
        var markers = [
            {
                position: new kakao.maps.LatLng(37.562877, 126.839574),
                text: '여기야 여기!' // text 옵션을 설정하면 마커 위에 텍스트를 함께 표시할 수 있습니다
            }
        ];

        var staticMapContainer  = document.getElementById('staticMap6'), // 이미지 지도를 표시할 div
            staticMapOption = {
                center: new kakao.maps.LatLng(37.562877, 126.839574), // 이미지 지도의 중심좌표
                level: 3, // 이미지 지도의 확대 레벨
                marker: markers // 이미지 지도에 표시할 마커
            };

// 이미지 지도를 생성합니다
        var staticMap = new kakao.maps.StaticMap(staticMapContainer, staticMapOption);
        </script><br>

<!-- 이미지 지도를 표시할 div 입니다 -->
        <div id="staticMap7" style="width:99%;height:200px;"></div>
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=da7431dddeb93bdee5392bab6c83e353"></script>
        <script>
// 이미지 지도에 표시할 마커입니다
// 이미지 지도에 표시할 마커를 아래와 같이 배열로 넣어주면 여러개의 마커를 표시할 수 있습니다
        var markers = [
            {
                position: new kakao.maps.LatLng(37.564705, 126.840312),
                text: '여기야 여기!' // text 옵션을 설정하면 마커 위에 텍스트를 함께 표시할 수 있습니다
            }
        ];

        var staticMapContainer  = document.getElementById('staticMap7'), // 이미지 지도를 표시할 div
            staticMapOption = {
                center: new kakao.maps.LatLng(37.564705, 126.840312), // 이미지 지도의 중심좌표
                level: 3, // 이미지 지도의 확대 레벨
                marker: markers // 이미지 지도에 표시할 마커
            };

// 이미지 지도를 생성합니다
        var staticMap = new kakao.maps.StaticMap(staticMapContainer, staticMapOption);
        </script><br>


    <div style="margin-top:150px">
    {% include "footer.html" %}
    </div>

</body>
</html>