<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <!-- 모든 이미지 폴더 불러오기 -->
    {% load static %}
    <!-- 분리된 html 파일 불러오기 -->
    {% include "header.html" %}

    <div class="container">
        <h4>서울특별시 동작구 쓰레기통 위치</h4>
        <table>
            <tbody>
                <tr>
                    <td><a href="노량진로"> <button class="btn btn-link">노량진로</button></a></td>
                    <td><a href="매봉로"> <button class="btn btn-link">매봉로</button></a></td>
                    <td><a href="장승배기로"> <button class="btn btn-link">장승배기로</button></a></td>
                    <td><a href="상도로"> <button class="btn btn-link">상도로</button></a></td>
                    <td><a href="동작대로"> <button class="btn btn-link">동작대로</button></a></td>
                    <td><a href="사당로"> <button class="btn btn-link">사당로</button></a></td>
                    <td><a href="만양로"> <button class="btn btn-link">만양로</button></a></td>
                </tr>
            </tbody>
        </table>
    </div>


    <div style="margin-top:150px">
    {% include "footer.html" %}
    </div>
</body>
</html>