<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Garbage Zone</title>
</head>
<body>

<!-- 모든 이미지 폴더 불러오기 -->
    {% load static %}
    <!-- 분리된 html 파일 불러오기 -->
    {% include "header.html" %}

    <h4>서울특별시 중랑구 동일로 쓰레기통 위치 안내</h4><br>

<!-- 지도를 표시할 div 입니다 -->
        <div id="map" style="width:99%;height:200px;"></div>
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=	da7431dddeb93bdee5392bab6c83e353"></script>
        <script>
           var mapContainer = document.getElementById('map'), // 지도를 표시할 div
    mapOption = {
        center: new kakao.maps.LatLng(37.612506, 127.077156), // 지도의 중심좌표
        level: 3 // 지도의 확대 레벨
    };

var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

// 마커가 표시될 위치입니다
var markerPosition  = new kakao.maps.LatLng(37.612506, 127.077156);

// 마커를 생성합니다
var marker = new kakao.maps.Marker({
    position: markerPosition
});

// 마커가 지도 위에 표시되도록 설정합니다
marker.setMap(map);
    </script><br>
<!-- 지도를 표시할 div 입니다 -->
        <div id="map1" style="width:99%;height:200px;"></div>
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=	da7431dddeb93bdee5392bab6c83e353"></script>
        <script>
           var mapContainer = document.getElementById('map1'), // 지도를 표시할 div
    mapOption = {
        center: new kakao.maps.LatLng(37.612333, 127.077565), // 지도의 중심좌표
        level: 3 // 지도의 확대 레벨
    };

var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

// 마커가 표시될 위치입니다
var markerPosition  = new kakao.maps.LatLng(37.612333, 127.077565);

// 마커를 생성합니다
var marker = new kakao.maps.Marker({
    position: markerPosition
});

// 마커가 지도 위에 표시되도록 설정합니다
marker.setMap(map);
    </script><br>
<!-- 지도를 표시할 div 입니다 -->
        <div id="map2" style="width:99%;height:200px;"></div>
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=	da7431dddeb93bdee5392bab6c83e353"></script>
        <script>
           var mapContainer = document.getElementById('map2'), // 지도를 표시할 div
    mapOption = {
        center: new kakao.maps.LatLng(37.609359, 127.078171), // 지도의 중심좌표
        level: 3 // 지도의 확대 레벨
    };

var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

// 마커가 표시될 위치입니다
var markerPosition  = new kakao.maps.LatLng(37.609359, 127.078171);

// 마커를 생성합니다
var marker = new kakao.maps.Marker({
    position: markerPosition
});

// 마커가 지도 위에 표시되도록 설정합니다
marker.setMap(map);
    </script><br>
<!-- 지도를 표시할 div 입니다 -->
        <div id="map3" style="width:99%;height:200px;"></div>
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=	da7431dddeb93bdee5392bab6c83e353"></script>
        <script>
           var mapContainer = document.getElementById('map3'), // 지도를 표시할 div
    mapOption = {
        center: new kakao.maps.LatLng(37.607110, 127.078262), // 지도의 중심좌표
        level: 3 // 지도의 확대 레벨
    };

var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

// 마커가 표시될 위치입니다
var markerPosition  = new kakao.maps.LatLng(37.607110, 127.078262);

// 마커를 생성합니다
var marker = new kakao.maps.Marker({
    position: markerPosition
});

// 마커가 지도 위에 표시되도록 설정합니다
marker.setMap(map);
    </script><br>
<!-- 지도를 표시할 div 입니다 -->
        <div id="map4" style="width:99%;height:200px;"></div>
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=	da7431dddeb93bdee5392bab6c83e353"></script>
        <script>
           var mapContainer = document.getElementById('map4'), // 지도를 표시할 div
    mapOption = {
        center: new kakao.maps.LatLng(37.602901, 127.079444), // 지도의 중심좌표
        level: 3 // 지도의 확대 레벨
    };

var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

// 마커가 표시될 위치입니다
var markerPosition  = new kakao.maps.LatLng(37.602901, 127.079444);

// 마커를 생성합니다
var marker = new kakao.maps.Marker({
    position: markerPosition
});

// 마커가 지도 위에 표시되도록 설정합니다
marker.setMap(map);
    </script><br>
<!-- 지도를 표시할 div 입니다 -->
        <div id="map5" style="width:99%;height:200px;"></div>
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=	da7431dddeb93bdee5392bab6c83e353"></script>
        <script>
           var mapContainer = document.getElementById('map5'), // 지도를 표시할 div
    mapOption = {
        center: new kakao.maps.LatLng(37.592082, 127.080333), // 지도의 중심좌표
        level: 3 // 지도의 확대 레벨
    };

var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

// 마커가 표시될 위치입니다
var markerPosition  = new kakao.maps.LatLng(37.592082, 127.080333);

// 마커를 생성합니다
var marker = new kakao.maps.Marker({
    position: markerPosition
});

// 마커가 지도 위에 표시되도록 설정합니다
marker.setMap(map);
    </script><br>
<!-- 지도를 표시할 div 입니다 -->
        <div id="map6" style="width:99%;height:200px;"></div>
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=	da7431dddeb93bdee5392bab6c83e353"></script>
        <script>
           var mapContainer = document.getElementById('map6'), // 지도를 표시할 div
    mapOption = {
        center: new kakao.maps.LatLng(37.587143, 127.079767), // 지도의 중심좌표
        level: 3 // 지도의 확대 레벨
    };

var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

// 마커가 표시될 위치입니다
var markerPosition  = new kakao.maps.LatLng(37.587143, 127.079767);

// 마커를 생성합니다
var marker = new kakao.maps.Marker({
    position: markerPosition
});

// 마커가 지도 위에 표시되도록 설정합니다
marker.setMap(map);
    </script><br>
<!-- 지도를 표시할 div 입니다 -->
        <div id="map7" style="width:99%;height:200px;"></div>
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=	da7431dddeb93bdee5392bab6c83e353"></script>
        <script>
           var mapContainer = document.getElementById('map7'), // 지도를 표시할 div
    mapOption = {
        center: new kakao.maps.LatLng(37.572606, 127.080324), // 지도의 중심좌표
        level: 3 // 지도의 확대 레벨
    };

var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

// 마커가 표시될 위치입니다
var markerPosition  = new kakao.maps.LatLng(37.572606, 127.080324);

// 마커를 생성합니다
var marker = new kakao.maps.Marker({
    position: markerPosition
});

// 마커가 지도 위에 표시되도록 설정합니다
marker.setMap(map);
    </script><br>

    <div style="margin-top:150px">
    {% include "footer.html" %}
    </div>

</body>
</html>