<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Garbage Zone</title>
</head>
<body>

    <!-- 모든 이미지 폴더 불러오기 -->
    {% load static %}
    <!-- 분리된 html 파일 불러오기 -->
    {% include "header.html" %}

    <h4>서울특별시 동작구 장승배기로 쓰레기통 위치 안내</h4><br>

    <div class="container">
        <table>
            <tbody>
<!-- 지도를 표시할 div 입니다 -->
        <div id="map" style="width:99%;height:200px;"></div>
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=	da7431dddeb93bdee5392bab6c83e353"></script>
        <script>
           var mapContainer = document.getElementById('map'), // 지도를 표시할 div
    mapOption = {
        center: new kakao.maps.LatLng(37.512416, 126.940148), // 지도의 중심좌표
        level: 3 // 지도의 확대 레벨
    };

var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

// 마커가 표시될 위치입니다
var markerPosition  = new kakao.maps.LatLng(37.512416, 126.940148);

// 마커를 생성합니다
var marker = new kakao.maps.Marker({
    position: markerPosition
});

// 마커가 지도 위에 표시되도록 설정합니다
marker.setMap(map);
    </script><br>
    <div id="map1" style="width:99%;height:200px;"></div>
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=	da7431dddeb93bdee5392bab6c83e353"></script>
        <script>
           var mapContainer = document.getElementById('map1'), // 지도를 표시할 div
    mapOption = {
        center: new kakao.maps.LatLng(37.510419, 126.940081), // 지도의 중심좌표
        level: 3 // 지도의 확대 레벨
    };

var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

// 마커가 표시될 위치입니다
var markerPosition  = new kakao.maps.LatLng(37.510419, 126.940081);

// 마커를 생성합니다
var marker = new kakao.maps.Marker({
    position: markerPosition
});

// 마커가 지도 위에 표시되도록 설정합니다
marker.setMap(map);
    </script><br>
    <div id="map2" style="width:99%;height:200px;"></div>
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=	da7431dddeb93bdee5392bab6c83e353"></script>
        <script>
           var mapContainer = document.getElementById('map2'), // 지도를 표시할 div
    mapOption = {
        center: new kakao.maps.LatLng(37.506701, 126.939926), // 지도의 중심좌표
        level: 3 // 지도의 확대 레벨
    };

var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

// 마커가 표시될 위치입니다
var markerPosition  = new kakao.maps.LatLng(37.506701, 126.939926);

// 마커를 생성합니다
var marker = new kakao.maps.Marker({
    position: markerPosition
});

// 마커가 지도 위에 표시되도록 설정합니다
marker.setMap(map);
    </script><br>
    <div id="map3" style="width:99%;height:200px;"></div>
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=	da7431dddeb93bdee5392bab6c83e353"></script>
        <script>
           var mapContainer = document.getElementById('map3'), // 지도를 표시할 div
    mapOption = {
        center: new kakao.maps.LatLng(37.508988, 126.940606), // 지도의 중심좌표
        level: 3 // 지도의 확대 레벨
    };

var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

// 마커가 표시될 위치입니다
var markerPosition  = new kakao.maps.LatLng(37.508988, 126.940606);

// 마커를 생성합니다
var marker = new kakao.maps.Marker({
    position: markerPosition
});

// 마커가 지도 위에 표시되도록 설정합니다
marker.setMap(map);
    </script><br>
    <div id="map4" style="width:99%;height:200px;"></div>
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=	da7431dddeb93bdee5392bab6c83e353"></script>
        <script>
           var mapContainer = document.getElementById('map4'), // 지도를 표시할 div
    mapOption = {
        center: new kakao.maps.LatLng(37.504304, 126.939163), // 지도의 중심좌표
        level: 3 // 지도의 확대 레벨
    };

var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

// 마커가 표시될 위치입니다
var markerPosition  = new kakao.maps.LatLng(37.504304, 126.939163);

// 마커를 생성합니다
var marker = new kakao.maps.Marker({
    position: markerPosition
});

// 마커가 지도 위에 표시되도록 설정합니다
marker.setMap(map);
    </script><br>
    <div id="map5" style="width:99%;height:200px;"></div>
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=	da7431dddeb93bdee5392bab6c83e353"></script>
        <script>
           var mapContainer = document.getElementById('map5'), // 지도를 표시할 div
    mapOption = {
        center: new kakao.maps.LatLng(37.504588, 126.939388), // 지도의 중심좌표
        level: 3 // 지도의 확대 레벨
    };

var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

// 마커가 표시될 위치입니다
var markerPosition  = new kakao.maps.LatLng(37.504588, 126.939388);

// 마커를 생성합니다
var marker = new kakao.maps.Marker({
    position: markerPosition
});

// 마커가 지도 위에 표시되도록 설정합니다
marker.setMap(map);
    </script><br>
    <div id="map6" style="width:99%;height:200px;"></div>
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=	da7431dddeb93bdee5392bab6c83e353"></script>
        <script>
           var mapContainer = document.getElementById('map6'), // 지도를 표시할 div
    mapOption = {
        center: new kakao.maps.LatLng(37.499921, 126.942827), // 지도의 중심좌표
        level: 3 // 지도의 확대 레벨
    };

var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

// 마커가 표시될 위치입니다
var markerPosition  = new kakao.maps.LatLng(37.499921, 126.942827);

// 마커를 생성합니다
var marker = new kakao.maps.Marker({
    position: markerPosition
});

// 마커가 지도 위에 표시되도록 설정합니다
marker.setMap(map);
    </script><br>
            </tbody>
        </table>
    </div>

    <div style="margin-top:150px">
    {% include "footer.html" %}
    </div>

</body>
</html>